/* Clases generales */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}
.hidden {
	display: none;
}

/*  Forteza web elements */

body {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100dvh;
}

#bkground-img {
	width: 100%;
	height: 100vh;
	z-index: -5;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(/src/fondo-paisaje-pies.webp);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 0%;
	transition: all 1s ease-out;
}

/* Cabezal  */
#logo-header {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	/* border: solid 1px #525252; */
}

#logo-header a {
	width: 150px;
}
#your-lifestyle {
	width: 180px;
	padding: 10px 0;
}
path.st0 {
	fill: rgb(243, 240, 240);
	filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.632));
	stroke-width: 0px;
}

/* Contenido Central   */
#main-container {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	/* background: #ffffff7c; */
}

nav#cat-nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#cat-nav h2 {
	padding: 20px 10px;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 2px;
}

.ul-grid-menu {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 16px;
}

li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	list-style: none;
	max-width: 230px;
	padding: 10px;
	text-align: center;
	/* background-color: blueviolet; */
	color: wheat;
}
li:hover {
	cursor: pointer;
	filter: drop-shadow(1px 2px 3px #fff);
}
