/* Clases generales */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

.hidden {
	display: none;
}

/*  Forteza web elements */

body {
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
	align-items: center;
	height: 100dvh;
	padding-bottom: 2rem;
	background-image: url(/src/fondo-paisaje-pies.webp);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 0%;
	background-attachment: fixed;
}

/* Cabezal  */
#logo-header {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	/* border: solid 1px #525252; */
}
#logo-header a {
	width: 150px;
}

#logo-header a :hover {
	filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.2));
}

#your-lifestyle {
	width: 180px;
	padding: 10px 0;
}
path.st0 {
	fill: rgb(243, 240, 240);
	filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.632));
	stroke-width: 0px;
}

/* Contenido Central   */
#main-container {
	max-width: 800px;
	display: block;
	width: 100%;
	margin-bottom: 50px;
}
#nav-section {
	display: flex;
	justify-content: center;
	width: 100%;
}
.ul-menu {
	width: 100%;
	max-width: 900px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 24px;
	/* background-color: saddlebrown; */
}

li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	list-style: none;
	min-width: 180px;
	max-width: 230px;
	padding: 10px;
	letter-spacing: 0.5px;

	font-size: 1.1em;
	font-weight: 900;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}

li span {
	width: 100%;
	filter: drop-shadow(1px 1px 1px #000);
	line-height: 180%;
}

li span.eng {
	font-weight: 700;
	border-bottom: solid 1px;
}
li span.spa {
	font-weight: 700;
	font-style: italic;
	color: #ddd;
}

li:hover {
	cursor: pointer;
	filter: drop-shadow(1px 2px 15px #ffffffbe);
}

.products-container {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	grid-template-rows: auto auto auto auto;
	text-align: center;
	border: solid 2px red;
	/* background-color: #fff; */
}

.products-container #product-img {
	display: flex;
	align-items: center;
	justify-content: center;
	grid-column: 1/2;
	grid-row: 1/5;
	/* border: solid 1px #fff; */
	/* background-color: rgb(167, 167, 209); */
}
/* .info-product */
.products-container div:nth-child(2) {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-column: 2/6;
	/* border: solid 1px #e50000; */
	/* background-color: #8b1616; */
	height: 50px;
}

/* .tit-product  */
.products-container div:nth-child(3) {
	grid-column: 2/6;
	background-color: rgb(99, 187, 5);

	height: 90px;
}
/* .features  */
.products-container div:nth-child(4) {
	grid-column: 2/6;

	background-color: rgb(28, 41, 95);
	color: white;
	line-height: 150%;
}
.products-container div:nth-child(5) {
	background-color: rgb(165, 19, 188);
	color: white;
}
.products-container div:nth-child(6) {
	background-color: rgb(188, 19, 58);
	color: white;
}

.products-container div:nth-child(7) {
	background-color: rgb(188, 171, 19);
	color: white;
}

.products-container div:nth-child(8) {
	background-color: rgb(245, 197, 4);
	color: white;
}

.btn-color {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: red;
}

#foot-menu span {
	padding: 30px 0;
	font-size: 1.2rem;
	color: #fff;
	opacity: 0.6;
	cursor: pointer;
	user-select: none;
}
#foot-menu span:hover {
	opacity: 1;
	color: orange;
}
